@model RoleFormVM
<form asp-action="Add" class="mb-3">
    <div class="input-group w-100 ">

        <input class="form-control border-radius-2xl mt-3" asp-for="Name" width="300px" placeholder="Add new role..." />
        
    </div><div class="input-group-append col-3 mt-5">
        <button type="submit" class="btn btn-primary">Add new role</button>
    </div>
    <span asp-validation-for="Name" class="text-danger"></span>
</form>
