@model Order
@{
    SelectList orderstatus = new SelectList(ViewBag.OrderStatus, "Id", "Name");

    SelectList RepresentativesInSameCity = new SelectList(ViewBag.RepresentativesInSameCity, "AppUserId", "Name");

}
<style>
    h6 a:hover {
        color: #ffc400 !important;
    }
</style>

<h1 class="text-bold text-light">Change Order Status</h1>


<div class="container my-2">
    <div class="row justify-content-between">
        <div>
            <h6 class="mt-2">
                <svg stroke="currentColor" fill="#fff" stroke-width="0" viewBox="0 0 576 512" height="20px" width="20px" xmlns="http://www.w3.org/2000/svg"><path d="M528.12 301.319l47.273-208C578.806 78.301 567.391 64 551.99 64H159.208l-9.166-44.81C147.758 8.021 137.93 0 126.529 0H24C10.745 0 0 10.745 0 24v16c0 13.255 10.745 24 24 24h69.883l70.248 343.435C147.325 417.1 136 435.222 136 456c0 30.928 25.072 56 56 56s56-25.072 56-56c0-15.674-6.447-29.835-16.824-40h209.647C430.447 426.165 424 440.326 424 456c0 30.928 25.072 56 56 56s56-25.072 56-56c0-22.172-12.888-41.332-31.579-50.405l5.517-24.276c3.413-15.018-8.002-29.319-23.403-29.319H218.117l-6.545-32h293.145c11.206 0 20.92-7.754 23.403-18.681z"></path></svg>
                > <a asp-action="Index" class="text-decoration-none text-light text-bold">Orders</a> > <a asp-action="Status" class="text-decoration-none text-light text-bold">Order Status</a>
            </h6>
        </div>
    </div>
</div>

<hr />

<form asp-action="Status" method="post">

    <div class="form-group">
        <label asp-for="OrderStateId" class="control-label"></label>
        <select id="order-status" onchange="ShowAllRepresentative(@Model.Id)" asp-for="OrderStateId" asp-items="orderstatus" class="form-control">
            <option value="0" class="bg-secondary" disabled>New</option>
        </select>
        <span asp-validation-for="OrderStateId" class="text-danger"></span>

        <div id="represntatives-container" class="my-4 d-none">
            <label class="control-label">Choose a Representative : </label>
            <select id="represntatives" asp-items="RepresentativesInSameCity"  class="form-control">
                <span asp-validation-for="RepresentativeId" class="text-danger"></span>
            </select>
        </div>
    </div>

    <div class="form-group">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-primary" onclick="LinkOrderToRepresentative(@Model.Id)">Save</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $(document).ready(function () {
            var orderStatusDropDownText = $('#order-status option:selected').text();

            if (orderStatusDropDownText == "Delivered to the representative") {
                $("#represntatives-container").removeClass('d-none');
            }
            else {
                $("#represntatives-container").addClass('d-none');
            }
        });

        function ShowAllRepresentative(id) {
            var orderStatusDropDownText = $('#order-status option:selected').text();

            if (orderStatusDropDownText == "Delivered to the representative") {
                $("#represntatives-container").removeClass('d-none');
            }
            else {
                $("#represntatives-container").addClass('d-none');

            }




        }
        function LinkOrderToRepresentative(orderId) {
            var repId = $("#represntatives").val();

            $.ajax({
                url: `/Order/LinkOrderToRepresentative?orderId=${orderId}&repId=${repId}`,
                success: function (response) {
                    window.location.href = `/Order/Index`;
                },
                error: function (error) {
                }
            });
        }

    </script>
}