@model OrderStatusVM

@{
    ViewData["Title"] = "Home";
}
<style>

    .card {
        border: none;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 10px;
        transition: all 0.3s ease;
    }

        .card:hover {
            transform: translateY(-5px);
        }

        .card .card-icon {
            font-size: 3rem;
            color: #4CAF50;
        }

        .card .card-title {
            font-size: 1.5rem;
            margin-bottom: 10px;
            min-height: 100px;
            color: #333;
        }

        .card .card-value {
            font-size: 2.5rem;
            font-weight: bold;
            color: #555;
        }

    .alert-primary {
        background-color: #007bff;
        color: #fff;
        border-color: #007bff;
    }

        .alert-primary a {
            color: #fff;
            font-weight: bold;
        }

    .container {
        padding: 20px;
    }
</style>

<h1 class="alert alert-primary text-center text-black">Hello @ViewBag.TraderName</h1>
<div class="container ">
    <div class="col-md-12 ">
        <div class="row ">
            @for (int i = 0; i < ViewBag.OrderStatusNumbers.Count; i++)
            {
                <div class="col-xl-4 col-lg-6">
                    <div class="card l-bg-blue-dark overflow-hidden">
                        <div class="card-statistic-3 p-4">
                            <div class="card-icon card-icon-large">
                                <img src="/img/mylogo.png" class="navbar-brand-img w-100" alt="main_logo">
                            </div>
                            <div class="mb-4">
                                <h5 class="card-title mb-0">@ViewBag.OrderStatus[i].Name</h5>
                            </div>
                            <div class="row align-items-center mb-2 d-flex">
                                <div class="col-8">
                                    <h2 class="d-flex align-items-center mb-0">
                                        @ViewBag.OrderStatusNumbers[i]
                                    </h2>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>