@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    SelectList govSelectList = new SelectList(ViewBag.Governrates, "Id", "Name");
}
@model City

<style>
    h6 a:hover {
        color: #ffc400 !important;
    }

</style>
<h1 class="text-bold text-light">Edit City</h1>

<div class="container my-2">
    <div class="row justify-content-between">
        <div>
            <h6 class="mt-2">
                <svg stroke="currentColor" fill="#fff" stroke-width="0" viewBox="0 0 384 512" height="20px" width="20px" xmlns="http://www.w3.org/2000/svg"><path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"></path></svg>
                > <a asp-action="Index" class="text-decoration-none text-light text-bold">Cities</a> > <a asp-action="Edit" class="text-decoration-none text-light text-bold">Edit City</a>
            </h6>
        </div>
    </div>
</div>
<hr />

<form method="post" asp-action="Edit">
    <div class="row">
        <div class="mt-3 col-md-6">
            <label asp-for="GoverId">Governorate</label>

            <select class="form-control mb-3" asp-for="GoverId" asp-items="govSelectList">
                <option value="0">-- Select Governorate --</option>

            </select>
        </div>
        <div class="mt-3 col-md-6">
            @* <input class="form-control" asp-for="Id" hidden="" /> *@
            <label asp-for="Name"></label>
            <input class="form-control" asp-for="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mt-3 col-md-6">
            <label asp-for="ShippingCost"></label>
            <input class="form-control" asp-for="ShippingCost" />
            <span asp-validation-for="ShippingCost" class="text-danger"></span>
        </div>
        <div class="mt-3 col-md-6">
            <label asp-for="PickUpCost"></label>
            <input class="form-control" asp-for="PickUpCost" />
            <span asp-validation-for="PickUpCost" class="text-danger"></span>
        </div>
    </div>


    <button type="submit" value="Create" class="btn btn-primary mt-4">Edit</button>
    <a class="btn btn-secondary mt-4" asp-action="Index">Cancel</a>

</form>